
/****** Object:  View [dbo].[AllItems]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AllItems] AS
SELECT si.stockItemID, si.StockItemName as StockItemName,  
STRING_AGG(sg.StockGroupName, ', ')  as StockGroup,
sih.QuantityOnHand as Quantity
FROM StockItems si
JOIN StockItemStockGroups sisg on si.StockItemID = sisg.StockItemId
JOIN StockGroups sg on sisg.StockGroupID = sg.StockGroupID
LEFT JOIN StockItemHoldings sih on si.StockItemID  = sih.StockItemID
GROUP BY si.stockItemID, si.StockItemName, sih.QuantityOnHand;
GO
/****** Object:  View [dbo].[MaxAndMinStockItemHoldings]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MaxAndMinStockItemHoldings] AS
SELECT MIN(Quantity) AS MinStock, MAX(Quantity) as MaxStock FROM AllItems
GO
/****** Object:  View [dbo].[AllInvoices]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[AllInvoices] AS
SELECT i.InvoiceID as ID, i.invoiceDate as Date, c.CustomerName as Customer, dm.DeliveryMethodName as DeliveryMethod,  
SUM((il.UnitPrice * (il.TaxRate/100) * il.Quantity) + (il.Quantity * il.UnitPrice)) AS Total
FROM Invoices i
JOIN Customers c on i.CustomerID = c.CustomerID
JOIN DeliveryMethods dm on i.DeliveryMethodID = dm.DeliveryMethodID
JOIN InvoiceLines il on i.InvoiceID = il.InvoiceID
GROUP BY i.InvoiceID, i.invoiceDate, c.CustomerName, dm.DeliveryMethodName
GO
/****** Object:  View [dbo].[MinAndMaxTotalInvoices]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MinAndMaxTotalInvoices] AS
SELECT MIN(Total) AS [Min], MAX(Total) AS [Max] FROM AllInvoices;
GO
/****** Object:  View [dbo].[MinAndMaxDateInvoices]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MinAndMaxDateInvoices] AS
SELECT MIN([Date]) AS [Min], MAX([Date]) AS [Max] FROM AllInvoices;
GO
/****** Object:  View [dbo].[All_DeliveryMethods]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[All_DeliveryMethods] AS
SELECT DeliveryMethodName FROM DeliveryMethods;
GO
/****** Object:  View [dbo].[AllStockGroupsItems]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[AllStockGroupsItems] AS
SELECT StockGroupName FROM StockGroups;
GO
/****** Object:  View [dbo].[AllSuppliersCategories]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[AllSuppliersCategories] AS
SELECT SupplierCategoryName FROM SupplierCategories;
GO
/****** Object:  View [dbo].[DetailedInvoiceLines]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[DetailedInvoiceLines] AS
SELECT il.InvoiceID ,si.StockItemName as ProductName, il.Quantity, 
CASE WHEN il.UnitPrice IS NULL THEN si.UnitPrice ELSE il.UnitPrice END AS UnitPrice,
il.TaxRate,
CASE WHEN il.UnitPrice IS NULL THEN ((il.taxRate/100) * si.UnitPrice ) ELSE ((il.taxRate/100) * il.UnitPrice ) END AS Tax,

( ((il.taxRate/100) * si.UnitPrice * il.Quantity) + (il.Quantity * il.UnitPrice)) as Total
FROM InvoiceLines il
JOIN StockItems si on il.StockItemID = si.StockItemID;
GO
/****** Object:  View [dbo].[InvoiceHeader]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[InvoiceHeader] AS
SELECT i.InvoiceID as ID, c.CustomerName as Customer, dm.DeliveryMethodName as DeliveryMethod, 
CASE WHEN i.CustomerPurchaseOrderNumber IS NULL THEN 'Sin número de orden.' ELSE i.CustomerPurchaseOrderNumber END AS PurcharseOrderNumber,
pe.FullName as ContactPerson, pe_2.FullName as SalesPerson, i.InvoiceDate, 
CASE WHEN i.DeliveryInstructions IS NULL THEN 'Sin instrucciones de entrega.' ELSE i.DeliveryInstructions END AS DeliveryInstructions
FROM Invoices i
JOIN Customers c on i.CustomerID = c.CustomerID
JOIN DeliveryMethods dm on i.DeliveryMethodID = dm.DeliveryMethodID
JOIN People pe on i.ContactPersonID = pe.PersonID
JOIN People pe_2 on i.SalesPersonPersonID = pe_2.PersonID;
GO
/****** Object:  View [dbo].[ItemsData]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ItemsData] AS 
SELECT si.StockItemName as StockItemName, sup.SupplierName as Supplier,
CASE WHEN col.ColorName IS NULL THEN 'Sin color.' ELSE col.ColorName END AS Color,
pac.PackageTypeName as UnitPackage, pac_2.PackageTypeName as OuterPackage,
CASE WHEN si.RecommendedRetailPrice IS NULL THEN 'Sin precio de venta' ELSE si.RecommendedRetailPrice END AS RecommendedRetailPrice,
si.TypicalWeightPerUnit as Weight, '' AS SearchDetails, si.QuantityPerOuter,
CASE WHEN si.Brand IS NULL THEN 'Sin marca.' ELSE si.Brand END AS Brand,
CASE WHEN si.Size IS NULL THEN 'Sin talla/tamaño.' ELSE si.Size END AS Size,
si.TaxRate as Tax, si.UnitPrice, sih.QuantityOnHand as Quantity, sih.BinLocation as Location
FROM StockItems si
JOIN Suppliers sup on si.SupplierID = sup.SupplierID
LEFT JOIN Colors col on si.ColorID = col.ColorID
LEFT JOIN StockItemHoldings sih on si.StockItemID  = sih.StockItemID
JOIN PackageTypes pac on si.UnitPackageID = pac.PackageTypeID
JOIN PackageTypes pac_2 on si.OuterPackageID = pac_2.PackageTypeID;
GO
/****** Object:  View [dbo].[SumaDeCadaOrdenPorProveedor]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SumaDeCadaOrdenPorProveedor] AS
SELECT po.PurchaseOrderID, s.SupplierID AS Supplier, SUM(pol.ReceivedOuters * pol.ExpectedUnitPricePerOuter) as TotalOrder
FROM Suppliers s
LEFT JOIN PurchaseOrders po on s.SupplierID = po.SupplierID
LEFT JOIN PurchaseOrderLines pol on po.PurchaseOrderID = pol.PurchaseOrderID
GROUP BY po.PurchaseOrderID, s.SupplierID;
GO
/****** Object:  View [dbo].[SuppliersData]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SuppliersData] AS
SELECT CASE WHEN s.SupplierReference IS NULL THEN 'Sin referencia.' ELSE s.SupplierReference END AS SupplierReference,
s.SupplierName as SupplierName,  sc.SupplierCategoryName as SupplierCategory,
p.FullName as PrimaryContactPerson, p_2.FullName as AlternateContactPerson,
CASE WHEN s.DeliveryMethodID IS NULL THEN 'Sin método.' ELSE de.DeliveryMethodName END AS DeliveryMethod,
c.CityName as DeliveryCity, s.PostalPostalCode as PostalCode, s.PhoneNumber, s.FaxNumber as Fax,
s.WebSiteURL as WebSite, CONCAT(s.DeliveryAddressLine1, ' ', s.DeliveryAddressLine2, ' ', s.PostalAddressLine1, ' ', s.PostalAddressLine2) as FullAddress,
s.DeliveryLocation as DeliveryLocation, 
CASE WHEN s.BankAccountName IS NULL THEN 'Sin nombre del banco.' ELSE s.BankAccountName END AS BankName,
CASE WHEN s.BankAccountNumber IS NULL THEN 'Sin número de cuenta.' ELSE s.BankAccountNumber END AS BankAccountNumber,
s.PaymentDays
FROM Suppliers s 
JOIN SupplierCategories sc on s.SupplierCategoryID = sc.SupplierCategoryID
JOIN People p on s.PrimaryContactPersonID = p.PersonID
JOIN People p_2 on s.AlternateContactPersonID = p_2.PersonID
LEFT JOIN DeliveryMethods de on s.DeliveryMethodID = de.DeliveryMethodID
JOIN Cities c on s.DeliveryCityID = c.CityID;
GO
/****** Object:  StoredProcedure [dbo].[SearchInvoices]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchInvoices]
(
	@Customer nvarchar(100),
	@DeliveryMethod nvarchar(50),
	@MinDate DATE,
	@MaxDate DATE,
	@MinAmount INT,
	@MaxAmount INT,
	@Success int out
)
AS
BEGIN
	BEGIN TRY
		SET @Success = 1; --Por defecto indicar true
		SELECT ID, Date, Customer, DeliveryMethod, Total 
		FROM AllInvoices 
		WHERE (Customer LIKE '%' + @Customer + '%') AND (@DeliveryMethod = '' OR DeliveryMethod = @DeliveryMethod) AND 
		(DATE BETWEEN @MinDate AND @MaxDate) AND (Total BETWEEN @MinAmount AND @MaxAmount);
	END TRY
	BEGIN CATCH
	SET @Success = 0; -- Indicar error
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SearchItems]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SearchItems] (
	@ItemName nvarchar(100),
	@Group nvarchar(50),
	@MinQuantity INT,
	@MaxQuantity INT,
	@Success int out
)
AS
BEGIN 
	BEGIN TRY
		SET @Success =1;
		SELECT StockItemName, StockGroup, Quantity 
		FROM AllItems
		WHERE (StockItemName LIKE '%' + @ItemName + '%') AND (StockGroup LIKE '%' +@GROUP + '%') AND (Quantity BETWEEN @MinQuantity AND @MaxQuantity)
		ORDER BY StockItemName DESC;
		END TRY
	BEGIN CATCH
		SET @Success = 0; -- Indicar error
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END 
GO
/****** Object:  StoredProcedure [dbo].[SearchSuppliers]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SearchSuppliers] (
	@SupplierName nvarchar(100),
	@Category nvarchar(50),
	@DeliveryMethod nvarchar(50),
	@Success int out
)
AS
BEGIN
	BEGIN TRY
		SET @Success = 1; -- Por defecto éxito
		--Declaración de variable para el like
		DECLARE @SupplierNameLike AS NVARCHAR(102);
		SET @SupplierNameLike = '%' + @SupplierName + '%';

		SELECT SupplierName, SupplierCategory, DeliveryMethod FROM AllSuppliers
		WHERE (SupplierName LIKE @SupplierNameLike) AND (@Category = '' OR SupplierCategory = @Category) AND (@DeliveryMethod = '' OR DeliveryMethod = @DeliveryMethod)
		ORDER BY SupplierName ASC;

	END TRY
	BEGIN CATCH
		SET @Success = 0; -- Indicar error
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_All_DeliveryMethods]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_All_DeliveryMethods]
AS
BEGIN
	SELECT DeliveryMethodName FROM All_DeliveryMethods;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AllInvoices]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AllInvoices] AS
BEGIN
	SELECT ID, [Date], Customer, DeliveryMethod, Total FROM AllInvoices
	ORDER BY Customer;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AllItems]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AllItems]
AS
	SELECT StockItemName, StockGroup, Quantity FROM AllItems
	ORDER BY StockItemName ASC;
GO
/****** Object:  StoredProcedure [dbo].[SP_AllStockGroupsItems]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AllStockGroupsItems] AS
BEGIN
	SELECT StockGroupName FROM AllStockGroupsItems;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AllSuppliersCategories]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AllSuppliersCategories] AS
BEGIN 
	SELECT SupplierCategoryName FROM SupplierCategories;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InvoiceHeader]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InvoiceHeader] 
(
	@InvoiceID INT,
	@Success INT OUT
)
AS
BEGIN
	BEGIN TRY
		SET @Success = 1; 
		
		SELECT ID, Customer, DeliveryMethod, PurcharseOrderNumber, ContactPerson, SalesPerson, InvoiceDate, DeliveryInstructions
		FROM InvoiceHeader
		WHERE ID = @InvoiceID;

	END TRY
	BEGIN CATCH
	SET @Success = 0; -- Indicar error
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InvoiceLines]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InvoiceLines]
(
	@InvoiceID INT,
	@Success INT OUT
)
AS
BEGIN
	BEGIN TRY
		SET @Success = 1; 
		
		SELECT InvoiceID, ProductName, Quantity, UnitPrice, TaxRate, Tax, Total
		FROM DetailedInvoiceLines
		WHERE InvoiceID = @InvoiceID;

	END TRY
	BEGIN CATCH
	SET @Success = 0; -- Indicar error
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MaxAndMinStockItemHoldings]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MaxAndMinStockItemHoldings] AS
BEGIN 
	SELECT MinStock, MaxStock FROM MaxAndMinStockItemHoldings;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MinAndMaxDateInvoices]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MinAndMaxDateInvoices] AS
	SELECT [Min], [Max] FROM MinAndMaxDateInvoices;
GO
/****** Object:  StoredProcedure [dbo].[SP_MinAndMaxTotalInvoices]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MinAndMaxTotalInvoices] AS
	SELECT [Min], [Max] FROM MinAndMaxTotalInvoices
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectSpecificItemData]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SelectSpecificItemData]
(
	@ItemName nvarchar(100),
	@Success int out
)
AS
BEGIN
	BEGIN TRY
		SET @Success = 1; --Por defecto indicar true
		--Select de la vista
		SELECT StockItemName, Supplier, Color, UnitPackage, OuterPackage, RecommendedRetailPrice, Weight, SearchDetails,
		QuantityPerOuter, Brand, Size, Tax, UnitPrice, Quantity, Location
		FROM ItemsData 
		WHERE StockItemName = @ItemName;
	END TRY
	BEGIN CATCH
		SET @Success = 0; -- Indicar error
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectSpecificSupplierData]    Script Date: 11/15/2025 10:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SelectSpecificSupplierData]
(
	@SupplierName nvarchar(100),
	@Success int out
)
AS
BEGIN
	BEGIN TRY
		SET @Success = 1; -- Por defecto éxito

		--Select a la vista
		SELECT SupplierReference, SupplierName, SupplierCategory, PrimaryContactPerson, AlternateContactPerson, DeliveryMethod, 
		DeliveryCity, PostalCode, PhoneNumber, Fax, WebSite, FullAddress, DeliveryLocation, BankName, BankAccountNumber, PaymentDays 
		FROM SuppliersData 
		WHERE SupplierName = @SupplierName
		ORDER BY SupplierName ASC;
		END TRY
	BEGIN CATCH
		SET @Success = 0; -- Indicar error
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END 
GO
